.checkpoints
.ipynb_checkpoints
.sources
.dpp
.pytest_cache
*.csv
*.DS_Store
*.egg-info/
*__pycache__/
*.pyc
settings.sh
!recipes/nycourts_courts/nycourts_courts.csv
!recipes/dep_wwtc/dep_wwtc.csv
!recipes/fbop_corrections/fbop_corrections.csv
!recipes/dcp_sfpsd/dcp_sfpsd.csv
!recipes/dcp_pops/dcp_pops.csv
!recipes/nysed_activeinstitutions/nysed_activeinstitutions.csv